<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Landing</title>
</head>

<body>
    <h1>Hello {{user_data['first_name']}}</h1>
    <a href="/logout">Logout</a>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="error">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action="/process_message" method="post">
        <p1>Write A Message: <input type="text" name="message_content" id=""></p1>
        <input type="submit" value="Post Message">
    </form>

    <form action="/process_job" method="post">
        <p1>Post A Job: <select name="type" id="">
                <option value="film">Film</option>
                <option value="theatre">Theatre</option>
                <option value="commercial">Commercial</option>
                <option value="modeling">Modeling</option>
            </select>
            <input type="text" name="job_content" id=""></p1>
        <input type="submit" value="Post Job">
    </form>

    <hr>
    <h1>Your Message Board</h1>
    {% for message in message_data %}
    <p>{{message['first_name']}} posted: {{message['msg_content']}}</p>
        {% if message['time_since'] %}
        <p>{{message['time_since']}}</p>
        {% elif message['time_since_seconds'] %}
        <p>{{message['time_since_seconds']}} seconds</p>
        {% elif message['time_since_minutes'] %}
        <p>{{message['time_since_minutes']}} minutes</p>
        {% elif message['time_since_hours'] %}
        <p>{{message['time_since_hours']}} hours</p>
        {% elif message['time_since_days'] %}
        <p>{{message['time_since_days']}} days</p>
        {% endif %}

        <p>{{message['like_count']}} people like this</p>

        {% if message['message_id'] in liked_msgs %}
        <p><a href="/unlike_message/{{message['message_id']}}"><button>I Don't Like This Anymore</button></a></p>
        {% else %}
        <p><a href="/like_message/{{message['message_id']}}"><button>I Like This</button></a></p>
        {% endif %}
    {% endfor %}
    <hr>
    <h1>Your Job Feed</h1>
    {% for job in job_data %}
    <p1>{{job['first_name']}} posted: {{job['type']}} - {{job['job_content']}}</p1>
    {% if job['time_since'] %}
        <p>{{job['time_since']}}</p>
        {% elif job['time_since_seconds'] %}
        <p>{{job['time_since_seconds']}} seconds</p>
        {% elif job['time_since_minutes'] %}
        <p>{{job['time_since_minutes']}} minutes</p>
        {% elif job['time_since_hours'] %}
        <p>{{job['time_since_hours']}} hours</p>
        {% elif job['time_since_days'] %}
        <p>{{job['time_since_days']}} days</p>
        {% endif %}

        <p>{{job['submit_count']}} people submitted for this</p>

        {% if job['job_id'] in submitted_jobs %}
        <p><a href="/unsubmit_job/{{job['job_id']}}"><button>I Changed My Mind</button></a></p>
        {% else %}
        <p><a href="/submit_job/{{job['job_id']}}"><button>Submit For This</button></a></p>
        {% endif %}
    {% endfor %}
</body>

</html>