<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<% include partials/nav %>

<body>
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <!-- <h2>Route to a specific program</h2> -->
                    <button name="supp_button" class="btn btn-primary center-block" style="background-color: green!important; color: #ffffff"
                        id="support">Donation has been submitted!</button>
                    <br>
                    <br>
                    <h2>
                        <%= project.title %>
                    </h2>

                    <div class="image" style="background-image:url(&quot;/uploads/<%= project.photo%>&quot;); background-size:contain; background-position:center;">
                    </div>
                    <button name="join" class="form-control btn btn-outline-primary bounce animated" type="button"></button>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Description</h3>
                        <p style="white-space: pre-wrap;""><%= project.description %></p>
                        <h3>Comments</h3>
                        <div class="
                            row">
                            <!-- comments section -->
                            <div class="comments-section">
                                <!-- comment form -->
                                <form class="clearfix" action="/project/<%= project._id %>/comment" method="post" id="comment_form"
                                    style="min-width: 180%;">
                                    <h4>Post a comment:</h4>
                                    <textarea name="comment_text" id="comment_text" class="form-control" cols="30" rows="3"></textarea><br>
                                    <button name="comment_button" class="btn btn-primary btn-sm pull-right" id="submit_comment">Submit
                                        comment</button>
                                </form>
                                <br>
                                <h3><span id="comments_count">
                                        <%= project.comments.length %></span> Comment(s)</h3>
                            </div>
                            <hr>
                            <% if(project.comments.length > 0){ 
                                project.comments.forEach(function(comment){ %>
                            <div class="card col-md-12">
                                <div class="card-body">
                                    <div class="topright">
                                        <h6 class="card-text text-muted">
                                            <%= comment.date_posted.toLocaleString('en-US', { 
                                                day: '2-digit', 
                                                month: 'short',
                                                year: 'numeric', 
                                                hour: '2-digit',
                                                minute: '2-digit',
                                                second: '2-digit', 
                                                hour12: true }) %>
                                        </h6>
                                    </div>
                                    <strong class="card-title">
                                        <%= comment.posted_by.fname %>
                                        <%= comment.posted_by.lname %></strong>
                                    <p class="card-text">
                                        <%= comment.text %>
                                    </p>
                                </div>
                            </div>
                            <% });
                            } %>

                    </div>

                </div>
                <div class="col-12 col-md-4 offset-md-1 meta">
                    <div class="tags">
                        <span class="meta-heading">Support</span>
                        <ul class="list-inline text-success tada animated">
                            <li class="list-inline-item"><i class="donation" aria-hidden="true"></i>
                                $40,000 raised so far!</li>
                            <li name="join_amount" class="list-inline-item"><i class="support" aria-hidden="true"></i></li>
                        </ul>
                        <span class="meta-heading">Badge List</span>
                        <div name="badges"></div>
                        <% if(user != null && user.account_type == 'admin'){ %>
                        <select class="form-control btn btn-outline-primary btn-md dropdown-toggle" name="add-badge">
                            <option value="null" selected hidden>Add/Remove Badge</option>
                            <option value="English Language Arts" class="list-item">English Language Arts</option>
                            <option value="Mathematics" class="list-item">Mathematics</option>
                            <option value="Science" class="list-item">Science</option>
                            <option value="Computer Science" class="list-item">Computer Science</option>
                            <option value="Social Studies" class="list-item">Social Studies</option>
                            <option value="Career and Technical Education" class="list-item">Career and Technical
                                Education</option>
                            <option value="Fine Arts" class="list-item">Fine Arts</option>
                            <option value="Health" class="list-item">Health</option>
                            <option value="Physical Education" class="list-item">Physical Education</option>
                            <option value="World Languages" class="list-item">World Languages</option>
                        </select>
                        <% } %>
                        <hr>
                        <span class="meta-heading">Date and Time</span>
                        <span>
                            <%= project.start_date.toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: true }) %>
                            -
                            <%= project.end_date.toLocaleString('en-US', { day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: true }) %>
                        </span>
                        <hr>
                        <span class="meta-heading">Address</span>
                        <span>
                            <%= project.address %></span>
                        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=<%=project.address%>&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            width="100%" height="auto">
                        </iframe>

                    </div>
                </div>
            </div>
            </div>
            <br>
            <section class="portfolio-block website gradient">
                <div class="container">
                    <div class="heading">
                        <h2>Pledge Support</h2>
                    </div>
                    <form style="min-width: 100%;">
                        <div class="form-group">
                            <label for="selectAmount">Enter Donation Amount:</label>
                            <select class="form-control" id="selectAmount">
                                <option>$5</option>
                                <option>$10</option>
                                <option>$15</option>
                                <option>$20</option>
                                <option>$50</option>
                                <option>$100</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <p>
                                <label for="myTextArea">Other Options:</label>
                                <textarea id="myTextArea" rows="3" class="form-control">Please specify your donation here.</textarea>
                            </p>
                            <button name="donate_button" class="btn btn-primary btn-sm pull-right" id="submit_donation">Submit
                                Donation</button>
                        </div>
                    </form>
                </div>
            </section>
            <br>
            <br>
            <div class="container">
                <h3 class="text-center">More Programs</h3>
                <div class="row">
                    <% if(other_projects.length > 0){ 
                        other_projects.forEach(function(project){ %>
                    <div class="mt-5 col-md-3 mx-auto">
                        <a href="/project/<%= project._id%>">
                            <img class="img-fluid scale-on-hover" src="/uploads/<%= project.photo%>">
                        </a>
                    </div>
                    <% });
                    } %>
                </div>
            </div>
            </div>
        </section>
    </main>
    <% include partials/footer %>
    <script>
        $(function () {

            var refresh_badges = function (project_data) {
                $('[name = badges]').empty();
                project_data.badges.forEach(function (badge) {
                    $('[name = badges]')
                        .append(`${badge.icon} ${badge.title}<br />`);
                });
            }

            var refresh_join_amount = function(){
                $.ajax({
                    type: 'GET',
                    url: '/project/<%= project._id %>/join-amount',
                    dataType: 'json',
                    success: function(result){
                        if(result.val == 1){
                            $('[name = join_amount]').text(`${result.val} user has joined!`);
                        }
                        else{
                            $('[name = join_amount]').text(`${result.val} users have joined!`);
                        }
                    }
                });
            }

            $.ajax({
                type: 'GET',
                url: '/project/<%= project._id %>/badge',
                dataType: 'json',
                success: function (result) {
                    refresh_badges(result);
                }
            });

            $('[name = add-badge]').change(function () {
                var selected = $('[name = add-badge] option:selected').val();
                var data = { badge: selected }

                $.ajax({
                    type: 'POST',
                    url: '/project/<%= project._id %>/badge',
                    dataType: 'json',
                    data: data,
                    success: function (result) {
                        refresh_badges(result);
                        $('[name = add-badge]').val("null");
                    }
                });
            });

            const is_joined = 'Joined!';
            const is_not_joined = 'Join This Project!';
            const is_not_signed_in = 'Sign In To Join This Project!';

            var refresh_join = function () {
                $.ajax({
                    type: 'GET',
                    url: '/project/<%= project._id %>/join-state',
                    dataType: 'text',
                    success: function (result) {
                        if (result == 'true') {
                            $('[name = join]')
                                .text(is_joined);
                        }
                        else if (result == 'false') {
                            $('[name = join]')
                                .text(is_not_joined);
                        }
                        else if (result == 'signin') {
                            $('[name = join]')
                                .text(is_not_signed_in);
                        }
                        refresh_join_amount();
                    }
                })
            };

            var update_join = function () {
                var text = $('[name = join]').text();
                if (text == is_joined) {
                    $.ajax({
                        type: 'GET',
                        url: '/project/<%= project._id %>/join-no',
                        dataType: 'text',
                        success: function (result) {
                            console.log(result);
                            refresh_join();
                        }
                    });
                }
                else if (text == is_not_joined) {
                    $.ajax({
                        type: 'GET',
                        url: '/project/<%= project._id %>/join-yes',
                        dataType: 'text',
                        success: function (result) {
                            console.log(result);
                            refresh_join();
                        }
                    });
                }
                else if (text == is_not_signed_in) {
                    sessionStorage.page = 'signin';
                    window.location = '/login';
                }
            }

            $('[name = join]').click(function () {
                update_join();
            });

            refresh_join();

            $('[name = donate_button]').click(function(){
                event.preventDefault();
                sessionStorage.donate = 'yes';
                window.location = '/project/<%= project._id %>';
            });

            console.log('value is',sessionStorage.donate);
            if(sessionStorage.donate == null || sessionStorage.donate == 'null'){
                $('#support').hide();
            }
            else if(sessionStorage.donate == 'yes'){
                $('#support').show();
                sessionStorage.donate = 'null';
            }

            <% if (user == null) { %>
                $('[name = comment_button]').click(function (event) {
                    event.preventDefault();
                    alert('Please sign in to comment');

                });
            <% } %>
        });
    </script>
    <style>
        .topright {
            position: absolute;
            top: 8px;
            right: 16px;
            font-size: 18px;
        }

        .bottomright {
            position: absolute;
            bottom: 8px;
            right: 16px;
            font-size: 18px;
        }
    </style>
</body>

</html>