<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<% include partials/nav %>

<body>
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <!-- <h2>Route to a specific program</h2> -->
                    <h2>
                        <%= project.name %>
                    </h2>
                </div>
                <div class="image" style="background-image:url(&quot;/uploads/<%= project.photo%>&quot;); background-size:contain; background-position:center;">
                </div>
                <button class="form-control btn btn-outline-primary bounce animated" type="button">Join This Project!</button>
                <br><br>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Description</h3>
                        <p>
                            <%= project.description %>
                        </p>
                        <h3>Comments</h3>
                        <div class="row">
                            <!-- comments section -->
                            <div class="comments-section">
                                <!-- comment form -->
                                <form class="clearfix" action="/project/<%= project._id %>/comment" method="post" id="comment_form" style="min-width: 180%;">
                                    <h4>Post a comment:</h4>
                                    <textarea name="comment_text" id="comment_text" class="form-control" cols="30" rows="3"></textarea><br>
                                    <button class="btn btn-primary btn-sm pull-right" id="submit_comment">Submit
                                        comment</button>
                                </form>
                                <br>
                                <h3><span id="comments_count"><%= project.comments.length %></span> Comment(s)</h3>
                            </div>
                            <hr>
                            <% if(project.comments.length > 0){ 
                                project.comments.forEach(function(comment){ %>
                                <div class="card col-md-12">
                                    <div class="card-body">
                                        <div class="topright">
                                            <h6 class="card-text text-muted"><%= comment.date_posted.getMonth()+1 %>/<%= comment.date_posted.getDate() %>/<%= comment.date_posted.getFullYear() %>  <%= comment.date_posted.getHours() %>:<%= comment.date_posted.getMinutes() %>:<%= comment.date_posted.getSeconds() %></h6>
                                        </div>
                                        <strong class="card-title"><%= comment.posted_by.fname %> <%= comment.posted_by.lname %></strong>
                                        <p class="card-text"><%= comment.text %></p>
                                    </div>
                                </div>
                                <% });
                            } %>
                            
                        </div>

                    </div>
                    <div class="col-12 col-md-3 offset-md-1 meta">
                        <div class="tags">
                            <span class="meta-heading">Tags</span>
                            <a href="#">Resource</a>
                            <a href="#">Project</a>
                            <hr>
                            <span class="meta-heading">Date</span>
                            <span>
                                <%= project.start_date %> -</span>
                            <span>
                                <%= project.end_date %></span>
                            <hr>
                            <span class="meta-heading">Address</span>
                            <span>
                                <%= project.location %></span>
                            <hr>
                            <span class="meta-heading">Badge List</span>
                            <div name="badges">
                            <!-- badges appended from jquery -->
                            </div>
                            <select class="form-control btn btn-outline-primary btn-md dropdown-toggle" name="add-badge">
                                    <option value="null" selected hidden>Add Badge +</option>
                                    <option value="English Language Arts" class="list-item">English Language Arts</option>
                                    <option value="Mathematics" class="list-item">Mathematics</option>
                                    <option value="Science" class="list-item">Science</option>
                                    <option value="Computer Science" class="list-item">Computer Science</option>
                                    <option value="Social Studies" class="list-item">Social Studies</option>
                                    <option value="Career and Technical Education" class="list-item">Career and Technical Education</option>
                                    <option value="Fine Arts" class="list-item">Fine Arts</option>
                                    <option value="Health" class="list-item">Health</option>
                                    <option value="Physical Education" class="list-item">Physical Education</option>
                                    <option value="World Languages" class="list-item">World Langauges</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <section class="portfolio-block website gradient">
                <div class="container">
                    <div class="heading">
                        <h2>Pledge Support</h2>
                    </div>

                    <form style="min-width: 100%;">
                        <div class="form-group">
                            <label for="selectAmount">Enter Donation Amount:</label>
                            <select class="form-control" id="selectAmount">
                                <option>$5</option>
                                <option>$10</option>
                                <option>$15</option>
                                <option>$20</option>
                                <option>$50</option>
                                <option>$100</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <p>
                                <label for="myTextArea">Other Options:</label>
                                <textarea id="myTextArea" rows="3" class="form-control">Please specify your donation here.</textarea>
                            </p>
                            <button class="btn btn-primary btn-sm pull-right" id="submit_donation">Submit
                                Donation</button>
                        </div>
                    </form>
                </div>
            </section>
            <br>

        <!-- DATE PICKER FEATURE???? -->

            <div class="container d-flex justify-content-center align-items-center vh-100">
                <div class="card" id="example">
                    <div class="card-body shadow p-5" id="example">
                        <h2 class="text-center card-title mb-5">Date Picker</h2>
                        <form class="date-select">
                            <div class="form-group">
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend"><span class="input-group-text">From</span></div><input class="form-control" type="time" id="datePickerFrom" /></div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend"><span class="input-group-text">To     </span></div><input class="form-control" type="time" id="datePickerTo" /></div>
                            </div>
                            <div class="form-group mt-4"><button class="btn btn-primary btn-block" type="submit">Send</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="more-projects">
                <h3 class="text-center">More Programs</h3>
                <div class="row gallery">
                    <% if(other_projects.length > 0){ 
                        other_projects.forEach(function(project){ %>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="/project/<%= project._id%>"><img class="img-fluid scale-on-hover" src="/uploads/<%= project.photo%>"></a></div>
                        </div>
                        <% });
                    } %>
                </div>
            </div>
            </div>
        </section>
    </main>
    <% include partials/footer %>
    <script>
    $(function(){

        $.ajax({
            type: 'GET',
            url: '/project/<%= project._id %>/badge',
            dataType: 'json',
            success: function(result){
                refresh_badges(result);
            }
        });

        $('[name = add-badge]').change(function(){
                var selected = $('[name = add-badge] option:selected').val();
                var data = {badge: selected}

                $.ajax({
                    type: 'POST',
                    url: '/project/<%= project._id %>/badge',
                    dataType: 'json',
                    data: data,
                    success: function(result){
                        refresh_badges(result);
                        $('[name = add-badge]').val("null");
                    }
                });
        });

        var refresh_badges = function(project_data){
            $('[name = badges]').empty();
            project_data.badges.forEach(function(badge){
                $('[name = badges]')
                .append(` ${badge.icon} ${badge.title}  &nbsp; <button class="fa fa-close" style="color:red"></button>`);
            });
        }

    });
    </script>
    <style>
        .topright {
            position: absolute;
            top: 8px;
            right: 16px;
            font-size: 18px;
        }

        .bottomright {
            position: absolute;
            bottom: 8px;
            right: 16px;
            font-size: 18px;
        }
    </style>
</body>

</html>