<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<% include partials/nav %>

<body>
    <main class="page landing-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image:url(&quot;/img/avatars/avatar.jpg&quot;);"></div>
                <div class="about-me">
                    <h1>HACC LOREM IPSUM!</h1>
                </div>
                <br>
                <p>Waiting on Grace BIO</p>
                <section class="portfolio-block photography"></section>
                <section class="portfolio-block skills">
                    <div class="container">
                        <div class="heading">
                            <h2>THE LATEST (FEED)</h2>
                        </div>
                        <div class=container>
                            <div class="row">
                                <% if(projects.length > 0){ 
                                        projects.forEach(function(project){ %>
                                <div class="col-sm">
                                    <div class="col-md-12 mx-auto"><a href="/project/<%= project._id%>"><img
                                                class="img-fluid image scale-on-hover"
                                                src="/uploads/<%= project.photo%>"></a>
                                        <div class="span3">
                                             <h4 class="card-title"><%= project.title %></h4>
                                                <h6 class="card-text"><span class="d-inline-block text-truncate" style="max-width: 200px;"><%= project.description %></h6></span>
                                                <div>
                                                    <a class="btn btn-primary" href="/project/<%= project._id%>"
                                                        role="button">Read More
                                                    </a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <% });
                                    } %>
                            </div>
                        </div>
                    </div>
                </section>
    </main>
    <section class="portfolio-block call-to-action border-bottom">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center content">
                <h3>Like what you see?</h3><button class="btn btn-outline-primary btn-lg" type="button">REGISTER
                    NOW!</button>
            </div>
        </div>
    </section>
    <section class="portfolio-block website gradient">
        <div style="margin:46px;">
            <div class="row row-striped">
                <div class="col-2 text-center ">
                    <h1 class="display-4 "><span class="badge date-green">14</span></h1>
                    <h2>FEB</h2>
                </div>
                <div class="col-10">
                    <h3 class="text-uppercase"><strong>Valentine's Day</strong></h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                            Wednesday</li>
                        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                            18:30 PM - 22:00
                            PM</li>
                        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                            Restaurant</li>
                    </ul>
                    <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore
                        et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="row row-striped">
                <div class="col-2 text-center">
                    <h1 class="display-4"><span class="badge badge-grey">26</span></h1>
                    <h2>JAN</h2>
                </div>
                <div class="col-10">
                    <h3 class="text-uppercase"><strong>Work Meeting</strong></h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                            Friday</li>
                        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                            2:30 PM - 4:00 PM</li>
                        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                            Room 1408</li>
                    </ul>
                    <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore
                        et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer %>
</body>

</html>>