<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<% include partials/nav %>

<body>
    <main class="page landing-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <img src="img/lok.gif">
                <p>Our purpose is to help nourish Hawaii education by providing a CSS (comprehensive, smart, and
                    sustainable) platform
                    for the Department of Education, professionals, and the general public. We are dedicated to create
                    a resourceful
                    database for school projects, volunteering, financial contributions, sustainability practices, and
                    more. Through
                    innovating lasting solutions at the local and regional levels, we seek to empower next generations
                    to be a force of
                    positive change in the world.</p>
            </div>
        </section>
        <section class="portfolio-block website gradient">
            <div class="container">
                <div class="heading">
                    <h2>UPCOMING EVENTS!</h2>
                    <div style="margin:46px;" name="calendar"></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>THE LATEST (FEED)</h2>
                </div>
                <div class=container>
                    <div class="row">
                        <% if(projects.length > 0){ 
                                    projects.forEach(function(project){ %>
                        <div class="col-sm">
                            <div class="col-md-12 mx-auto"><a href="/project/<%= project._id%>"><img class="img-fluid image scale-on-hover"
                                        src="/uploads/<%= project.photo%>"></a>
                                <div class="span3">
                                    <h5 class="card-body"><a href="/project/<%= project._id%>" style="color: black;">
                                            <%= project.title%></a></h5>
                                    <h6 class="card-text">
                                        <p class="show-read-more">
                                            <%= project.description %>
                                        </p>
                                    </h6>
                                    <div>
                                        <a class="btn btn-primary" href="/project/<%= project._id%>" role="button">Read
                                            More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% });
                                } %>
                    </div>
                </div>
                <br>
                <br>
                <div class="text-center">
                    <a href="/project-list">See More!</a>
                </div>
            </div>
        </section>
        <% include partials/footer %>
    </main>
    <script>
        $(function () {
            var maxLength = 250;
            $(".show-read-more").each(function () {
                var myStr = $(this).text();
                if ($.trim(myStr).length > maxLength) {
                    var newStr = myStr.substring(0, maxLength);
                    var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                    $(this).empty().html(newStr);
                    $(this).append('<a>...</a>');
                }
            });

            $.ajax({
                type: 'GET',
                url: '/homepage/calendar',
                dataType: 'json',
                success: function (result) {
                    render_calendar(result);
                }
            });

            var render_calendar = function (project_data) {
                $('[name = calendar]').empty();
                project_data.forEach(function (project) {
                    console.log(new Date(project.start_date).toLocaleString('en-US', { month: 'short' }));
                    $('[name = calendar]')
                        .append(`
                <a href="/project/${project._id}" style="color:white">
                <div class = "row">
                    <div class="col-2 text-center ">
                    <h1 class="display-4 "><span class="badge date-green">${new Date(project.start_date).toLocaleString('en-US', { day: '2-digit' })}</span></h1>
                    <h2>${new Date(project.start_date).toLocaleString('en-US', { month: 'short' })}</h2>
                </div>
                <div class="col-10">
                    <h3 class="text-uppercase"><strong>${project.title}</strong></h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                            ${new Date(project.start_date).toLocaleString('en-US', { weekday: 'short' })}</li>
                        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                            ${new Date(project.start_date).toLocaleString('en-US', { hour12: true })} - 
                            ${new Date(project.end_date).toLocaleString('en-US', { hour12: true })}
                            </li>
                        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                            ${project.address}</li>
                    </ul>
                    <p></p>
                </div>
                </div>
            </a>
            <hr style="background-color: white;">
                `);
                });
            }
        });
    </script>
</body>

</html>