<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<% include partials/nav %>

<body>
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <br>
                    <br>
                    <h2>Look for a Program</h2>
                    <form action="/project-list/search" method="post" id="searchbar" style="min-width: 100%;">
                        <div class="input-group md-form form-sm form-2 pl-0">
                            <input name="query" class="form-control my-0 py-1 cyan-border" type="text" placeholder="Search"
                                aria-label="Search">
                            <div class="input-group-append">
                                <button class="input-group-text lime lighten-2" href="#"><span class="ion-ios-search-strong"
                                        id="basic-text1"></span><i class="material-icons" aria-hidden="true"></i></button></span>
                    </form>
                </div>
            </div>
            </div>
            <div class="row">
                <% if(projects.length > 0){ 
                        projects.forEach(function(project){ %>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="card border-0"><a href="/project/<%= project._id%>"><img class="card-img-top scale-on-hover img-fluid"
                                src="/uploads/<%= project.photo%>" alt="Card Image"></a>
                        <div class="card-body">
                            <h6>
                                <a href="/project/<%= project._id%>">
                                    <%= project.title%></a>
                            </h6>
                            <p class="show-read-more">
                                <%= project.description%>
                            </p>
                        </div>
                    </div>
                </div>
                <% });
                    } else{ %>
                <div class="container">
                    <div class="heading text-muted">
                        <h2 class="text-center">NO PROJECT FOUND <i class="fa fa-frown-o" aria-hidden="true"></i></h2>
                        <p>Please refine and try your search again.</p>
                    </div>
                </div>
                <% } %>
            </div>
            </div>
        </section>
    </main>
    <% include partials/footer %>
    <script>
        $(function () {
            var maxLength = 250;
            $(".show-read-more").each(function () {
                var myStr = $(this).text();
                if ($.trim(myStr).length > maxLength) {
                    var newStr = myStr.substring(0, maxLength);
                    var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                    $(this).empty().html(newStr);
                    $(this).append('<a>...</a>');
                }
            });
        });
    </script>
</body>

</html>